.hiring-page {
    min-height: 100vh;
    background: linear-gradient(135deg,lab(96.76% 1 0.34));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.hiring-card {

    min-height: 100vh;
    background-image: url("public/fgjl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    width: 80%;
    max-width: 900px;
    padding: 100px;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 48px;
    color: #272424;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 30px;
    color: #555;
}

.position {
    font-size: 28px;
    margin-bottom: 20px;
}

.list {
    font-size: 18px;
    line-height: 1.8;
    margin-left: 20px;
}

.apply-box {
    margin-top: 40px;
    background:none;
    padding: 20px;
    border-left: 6px solid red;
    font-size: 30px;
}